* {
    font-family: Lato, Montserrat, sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
    background-color: #2a7a78;
    color: white;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: #7fcecb;
    border-radius: 50%;
}
.profile-section {
    background-color: #38a3a5;
    padding: 20px;
    display: flex;
    align-items: center;
}
.profile-pic {
    width: 80px;
    height: 80px;
    background-color: #d9d9d9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #333;
}
.profile-info {
    margin-left: 20px;
}
.name {
    font-size: 18px;
    font-weight: bold;
}
.email, .position {
    font-size: 14px;
    margin-top: 5px;
}
.position {
    background-color: #7fcecb;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}
.tabs {
    display: flex;
    justify-content: space-between;
    background-color: #38a3a5;
    padding: 3px;
}
.tab, .tab-final, .tab-inicio{
    padding: 12px 92.5px;
    cursor: pointer;
    background-color: #38a3a5;
    border: none;
}
.tab:hover {
    background-color: rgba(78, 198, 197, 1);
}
.tab-inicio {
    border: none;
}
.tab-inicio:hover {
    background-color: rgba(78, 198, 197, 1);
}
.tab-final {
    border: none;
}
.tab-final:hover {
    background-color: rgba(78, 198, 197, 1);
}

.content {
    background-color: #2a7a78;
    padding: 20px;
}
.post {
    background-color: #38a3a5;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}
.post-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.post-content {
    font-size: 14px;
}
.post-date {
    font-size: 12px;
    text-align: right;
    margin-top: 5px;
}
