* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Montserrat, sans-serif;
}

.header {
    background-color: #4b7a77;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #333;
}

.header-section {
    display: flex;
    align-items: center;
}

.header-section h3 {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 5rem;
}

.icons-section {
    display: flex;
    align-items: center;
}

.header-icon {
    width: 30px;
    height: 30px;
    margin: 0 0.5rem;
}

.profile-icon {
    border-radius: 50%;
    background-color: #d6d6d6;
}
