* {
    font-family: Lato, Montserrat, sans-serif;
}
.question-list {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 20px;
}
.question-card {
    background-color: #B2E4E6 !important;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: black !important;
}
.question-card:hover {
    background-color: #66C6CC !important;
}
.avatar {
    width: 50px;
    height: 50px;
    background-color: #8CD5D9 !important;
    border-radius: 50%;
    margin-right: 20px;
}
.question-content {
    flex: 1;
}
.question-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.question-description {
    font-size: 14px;
    margin: 0 0 10px 0;
}
.question-date {
    font-size: 12px;
    text-align: right;
}
.question-time {
    font-size: 12px;
    text-align: right;
}