* {
    font-family: Lato, Montserrat, sans-serif;
}
.question-list {
    flex-grow: 1;
    margin-top: 20px;
}.question-card {
     background-color: #3a7c7c;
     padding: 20px;
     border-radius: 10px;
     margin-bottom: 20px;
     display: flex;
     align-items: flex-start;
     text-decoration: none;
     color: white;
 }
.question-card:hover {
    background-color: #38A9A8;
}
.avatar {
    width: 50px;
    height: 50px;
    background-color: #2a5b5b;
    border-radius: 50%;
    margin-right: 20px;
}
.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.question-content {
    flex: 1;
}
.question-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.question-description {
    font-size: 14px;
    margin: 0 0 10px 0;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limita a 3 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.question-date {
    font-size: 12px;
    text-align: right;
}
.question-time {
    font-size: 12px;
    text-align: right;
}